*{
    font-family: 'Courier New';
}
h3{
    color: purple;
}
h1{
    color: #b92b1f;
}
#login{
    background-color: white;
}
#signup{
    background-color: #b92b1f;
    color: white;
}
.upvote{
    background-color: green;
    color: aliceblue;
}
.post a{
    color: purple;
    background-color: yellow;
}
nav ul li a{
    color: hotpink;
}

p+h3{
    text-decoration: underline;
}

.upvote + button{
    background-color:blue;
}
div > input{
    background-color: darkgrey;
}
#myid p{
    color: green;
}
button:hover{
    background-color: orange;
    color:hotpink;
}
button:active{
    background-color: black;
    color:white;
}